.aboutSection {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .title {
    font-family: 'DM Serif Display', serif;
    font-size: 3em;
    color: #1D49A7;
    margin-bottom: 20px;
  }
  
  .description {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 2.5em;
    }
  
    .description {
      font-size: 1.1em;
    }
  }
  
  @media (max-width: 480px) {
    .title {
      font-size: 2em;
    }
  
    .description {
      font-size: 1em;
    }
  }