/* Tamaño general de la tipografía */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

/* Títulos y Encabezados */
h1 {
  font-size: 3em;
  font-family: 'DM Serif Display', serif;
}

h2 {
  font-size: 2.5em;
  font-family: 'DM Serif Display', serif;
}

h3 {
  font-size: 2em;
  font-family: 'DM Serif Display', serif;
}

h4 {
  font-size: 1.5em;
  font-family: 'DM Serif Display', serif;
}

/* Texto de Párrafo */
p {
  font-size: 1em;
  color: #555555;
  line-height: 1.8;
}