.mapSection {
    padding: 50px 20px;
    text-align: center;
    background-color: #f0f0f0;
  }
  
  .mapSection h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .map {
    width: 100%;
    height: 400px; /* Ajusta la altura del mapa según sea necesario */
    border-radius: 8px; /* Si deseas bordes redondeados */
    overflow: hidden; /* Para asegurar que no haya desbordamientos */
  }